@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
  --red: #E50914;
  --main-color: #070707;
  --secondary-color: rgba(27, 27, 27, 0.5);
  --text-shadow: 1px 1px 3px black;
  --fonte-destaque: "Bebas Neue";
  --fonte-padrao: "Open Sans";
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar{
  width: 0.8vw;
  max-width: 8px;
  height: 0.8vw;
  max-height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: calc(0.8vw * 0.5);
  background-color: var(--red);
}

html{
  font-size: clamp(12px, 2vw, 16px);
}

body{
  background-color: var(--main-color);
  min-height: 100vh;
  font-family: "Open Sans";
}